# Remove when this PR is landed: https://github.com/bazelbuild/bazel-central-registry/pull/2631
common --registry https://raw.githubusercontent.com/lalten/bazel-central-registry/rules_perl-includes_attr
